---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 120
DerivePointerAlignment: true

# 默认对齐到类型名
PointerAlignment: Left

# Only sort headers in each include block
SortIncludes: true
IncludeBlocks: Preserve

# 让 #if/#else/#endif 宏中的内容保持缩进，比如：
#   #if defined(WIN)
#   #  include <windows.h>
#   #else
#   #  include <curl.h>
#   #endif
IndentPPDirectives: AfterHash

IfMacros: ["UTIL_LIKELY_IF", "UTIL_UNLIKELY_IF"]

AttributeMacros:
  - UTIL_SYMBOL_LOCAL
  - UTIL_SYMBOL_EXPORT
  - UTIL_SYMBOL_IMPORT
  - UTIL_SYMBOL_VISIBLE
  - UTIL_NOINLINE_NOCLONE
  - UTIL_CONST_INIT
  - UTIL_ATTRIBUTE_LIFETIME_BOUND
  - UTIL_SANITIZER_NO_MEMORY
  - UTIL_SANITIZER_NO_THREAD
  - UTIL_SANITIZER_NO_ADDRESS
  - UTIL_SANITIZER_NO_UNDEFINED
  - UTIL_MACRO_INLINE_VARIABLE
  - UTIL_ATTRIBUTE_REINITIALIZES
  - UTIL_ATTRIBUTE_RETURNS_NONNULL
  - UTIL_CONFIG_THREAD_LOCAL
  - UTIL_CONFIG_DEPRECATED
  - UTIL_CONFIG_DEPRECATED_MSG

---

---
Language: Proto
BasedOnStyle: Google
ColumnLimit: 120
---

