[submodule "atframework/libatframe_utils/repo"]
	path = atframework/libatframe_utils/repo
	url = https://github.com/atframework/atframe_utils.git
[submodule "atframework/libatbus/repo"]
	path = atframework/libatbus/repo
	url = https://github.com/atframework/libatbus.git
[submodule "atframework/libatapp/repo"]
	path = atframework/libatapp/repo
	url = https://github.com/atframework/libatapp.git