[submodule "atframework/cmake-toolset"]
	path = atframework/cmake-toolset
	url = https://github.com/atframework/cmake-toolset.git
	branch = main
[submodule "atframework/atframe_utils"]
	path = atframework/atframe_utils
	url = https://github.com/atframework/atframe_utils.git
	branch = main
[submodule "atframework/libatbus"]
	path = atframework/libatbus
	url = https://github.com/atframework/libatbus.git
	branch = main
[submodule "atframework/libatapp"]
	path = atframework/libatapp
	url = https://github.com/atframework/libatapp.git
	branch = main
[submodule "src/robot/atframework/atframe-utils-go"]
	path = src/robot/atframework/atframe-utils-go
	url = https://github.com/atframework/atframe-utils-go.git
[submodule "src/robot/atframework/robot-go"]
	path = src/robot/atframework/robot-go
	url = https://github.com/atframework/robot-go.git
[submodule "src/tools/generate-for-pb"]
	path = src/tools/generate-for-pb
	url = https://github.com/atframework/generate-for-pb.git
