# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build directories
/build
/build_*

# external libs
## libiniloader

## fmtlib
/3rd_party/fmtlib/prebuilt
/3rd_party/fmtlib/pkg

## libuv
/3rd_party/libuv/pkg
/3rd_party/libuv/prebuilt

## libunwind
/3rd_party/libunwind/pkg/
/3rd_party/libunwind/prebuilt/

## msgpack
/3rd_party/msgpack/pkg
/3rd_party/msgpack/prebuilt

## libcurl
/3rd_party/libcurl/pkg
/3rd_party/libcurl/prebuilt

## flatbuffers
/3rd_party/flatbuffers/pkg
/3rd_party/flatbuffers/prebuilt

## lua
/3rd_party/lua/repo

## libressl
/3rd_party/libressl/pkg
/3rd_party/libressl/prebuilt

## openssl
/3rd_party/openssl/pkg
/3rd_party/openssl/prebuilt

## mbedtls
/3rd_party/mbedtls/pkg
/3rd_party/mbedtls/prebuilt

## zlib
/3rd_party/zlib/pkg
/3rd_party/zlib/prebuilt

## jemalloc
/3rd_party/jemalloc/pkg
/3rd_party/jemalloc/prebuilt

## rapidjson
/3rd_party/rapidjson/repo

## yaml-cpp
/3rd_party/yaml-cpp/pkg
/3rd_party/yaml-cpp/prebuilt

## libwebsockets
/3rd_party/libwebsockets/repo
/3rd_party/libwebsockets/prebuilt

# python packages
/3rd_party/python_env/.modules
.mako_modules-*

## atframework
/atframework/service/component/config/atframe_services_build_feature.h
/atframework/service/atgateway/protocols/libatgw_server_protocol.pb.h
/atframework/service/atgateway/protocols/libatgw_server_protocol.pb.cc

# editors
.vscode
.idea
/cmake-build-*
.mako_modules-*

# 3rd party source and building output files
/3rd_party/redis/pkg
/3rd_party/redis/prebuilt
/3rd_party/protobuf/pkg
/3rd_party/protobuf/prebuilt

# protocol
/src/server_frame/protocol/**/*.h
/src/server_frame/protocol/**/*.cc
/src/server_frame/config/excel/pb_header_v3.pb.h
/src/server_frame/config/excel/pb_header_v3.pb.cc

# generated
