# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build directories
/build
/build_*

# external libs
## libiniloader

# packages and installed
/3rd_party/packages
/3rd_party/install
/third_party/install
/third_party/packages
/third_party/xresloader/bin/xresloader.jar
/third_party/xresloader/xresconv-cli

.mako_modules-*

## atframework
/atframework/service/component/config/atframe_services_build_feature.h
/atframework/service/atgateway/protocols/libatgw_server_protocol.pb.h
/atframework/service/atgateway/protocols/libatgw_server_protocol.pb.cc
/atframework/service/atgateway/protocols/libatgw_server_config.pb.h
/atframework/service/atgateway/protocols/libatgw_server_config.pb.cc

# editors
.vscode
.idea
/cmake-build-*
.mako_modules-*

# protocol
/src/server_frame/protocol/**/*.h
/src/server_frame/protocol/**/*.cc

# generated
/src/server_frame/config/server_frame_build_feature.h
/src/server_frame/config/server_frame_build_feature.cpp
/src/server_frame/config/excel/*
/src/gamesvr/app/handle_ss_rpc_gamesvrservice.cpp
/src/gamesvr/app/handle_ss_rpc_gamesvrservice.h
/src/server_frame/router/handle_ss_rpc_routerservice.cpp
/src/server_frame/router/handle_ss_rpc_routerservice.h
/src/server_frame/rpc/game/gamesvrservice.cpp
/src/server_frame/rpc/game/gamesvrservice.h
/src/server_frame/rpc/router/routerservice.cpp
/src/server_frame/rpc/router/routerservice.h
/src/server_frame/logic/handle_ss_rpc_logiccommonservice.h
/src/server_frame/logic/handle_ss_rpc_logiccommonservice.cpp
/src/server_frame/rpc/logic/logiccommonservice.h
/src/server_frame/rpc/logic/logiccommonservice.cpp
