# Default values for lobby.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

proc_name: loginsvrd

type_id: 11
type_name: "loginsvr"

image:
  repository: harbor.m-oa.com:6023/project-x/project-x-server
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: latest

volumeMounts:
  configMountPath: /data/atframework/publish/loginsvr/cfg
  logMountPath: /data/atframework/publish/loginsvr/log

vector:
  log_path: /data/atframework/publish/loginsvr/log
  image:
    repository: harbor.m-oa.com:6023/vector/vector:latest
    pullPolicy: Always
  sliks:
    console:
      enable: false
    test_file:
      enable: false
    opensearch:
      enable: true
      username: project-Y-log-writer
      password: 11bo1B{OE,gjzZ4D
      endpoint: https://opensearch-cluster-master.devops.svc.cluster.local:9200/
  index:
    - "user_id"
    - "task_name"
    - "zone_id"
    - "response_code"

imagePullSecrets:
  - name: harbor-regcred

persistence:
  cbs:
    enabled: true
    storageClass: openebs-hostpath
    volumes:
      - name: log
        storage: 5Gi
        accessMode: ReadWriteOnce

service:
  type: ClusterIP
  port: 7001
  targetPort: 7001
  protocol: TCP

redis:
  enable: true

webserver:
  port: 7001

# websocket:
# websocket 路径片段 实际路径为 /<deployment_environment>/daily/ws/v1
# path: daily
