# Default values for lobby.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

proc_name: atproxy

type_id: 11
type_name: "atproxy"

image:
  repository: harbor.m-oa.com:6023/project-x/project-x-server
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: latest

volumeMounts:
  configMountPath: /data/atframework/publish/atproxy/cfg
  logMountPath: /data/atframework/publish/atproxy/log

vector:
  log_path: /data/atframework/publish/atproxy/log
  image:
    repository: harbor.m-oa.com:6023/vector/vector:latest
    pullPolicy: Always
  sliks:
    console:
      enable: false
    test_file:
      enable: false
    opensearch:
      enable: true
      username: project-Y-log-writer
      password: 11bo1B{OE,gjzZ4D
      endpoint: https://opensearch-cluster-master.devops.svc.cluster.local:9200/
  index:
    - "user_id"
    - "task_name"
    - "zone_id"
    - "response_code"

imagePullSecrets:
  - name: harbor-regcred

persistence:
  cbs:
    enabled: true
    storageClass: openebs-hostpath
    volumes:
      - name: log
        storage: 5Gi
        accessMode: ReadWriteOnce

service:
  type: ClusterIP
  port: 7101
  targetPort: 7101
  protocol: TCP

redis:
  enable: true

atproxy:
  activity_connecttion:
    enabled: true
    # metadata:
    #   api_version: v1
    #   kind: Atframework/Atproxy
    #   group: atframework
    #   name: atproxy
    #   namespace_name: default
    #   uid: 1000
    #   service_subset: default
    #   labels:
    #     "service.name": "atproxy"
    retry_interval_min: 8s
    retry_interval_max: 300s
