# Default values for lobby.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

proc_name: echosvrd

type_id: 10
type_name: "echosvr"

image:
  repository: harbor.m-oa.com:6023/project-x/project-x-server
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: latest

volumeMounts:
  configMountPath: /data/projectx/echosvr/cfg
  logMountPath: /data/projectx/echosvr/log

vector:
  log_path: /data/projectx/echosvr/log
  image:
    repository: harbor.m-oa.com:6023/vector/vector:latest
    pullPolicy: Always
  sliks:
    console:
      enable: false
    test_file:
      enable: false
    opensearch:
      enable: true
      username: project-Y-log-writer
      password: 11bo1B{OE,gjzZ4D
      endpoint: https://opensearch-cluster-master.devops.svc.cluster.local:9200/
  index:
    - "user_id"
    - "task_name"
    - "zone_id"
    - "response_code"

imagePullSecrets:
  - name: harbor-regcred

persistence:
  cbs:
    enabled: true
    storageClass: openebs-hostpath
    volumes:
      - name: log
        storage: 5Gi
        accessMode: ReadWriteOnce

gateway:
  class: cilium
  port: 7001
  hostname: gateway.example.com
  addresses_ip: 127.0.0.1

httproute:
  port: 7001
  parentRefsName: project-x-tls-gateway

service:
  type: ClusterIP
  port: 7001
  targetPort: 7001
  protocol: TCP

redis:
  enable: true

webserver:
  port: 7001

# websocket:
  # websocket 路径片段 实际路径为 /<deployment_environment>/daily/ws/v1
  # path: daily 